
.container {
    width: 500px;
    border: 1px solid #1789fc;
    align-items: center;
    padding:12px;
    margin: 20px 0;
}
.title {
    text-align: center;
    color:#1789fc;
    box-shadow: rgba(0.2, 0.2, 0.2, 0.02);
    font-size: 48px;
}
.subtitle {
    text-align: center;
    cursor: pointer;
}
button {
    width: 100%;
}
