/* 
/* reset tabs */
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: 0px;
  margin: 0 !important;
  background: #d6edff;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background: #fff;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
  font-weight: normal;
}
.ant-tabs-tab:hover {
  color: black;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
  display: none;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  width: 100%;
}
.ant-tabs-bottom > .ant-tabs-nav::before {
  content: none;
}
/* reset tabs */
.about {
  width: 100%;
}
.image-background {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image-background::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}
.page {
  position: absolute;
  padding-top: 40vh;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 8px;
  color: white;
}
.down {
	padding: 0;
	margin-top: 60vh;
}
.anticon-down {
	transition: 1s;
}
.down:hover .anticon-down {
	color: rgba(255, 255, 255, 0.4);
	transform: translateY(40px);
}
.content-wrapper {
  height: 60vh;
  padding: 0;
  transition: 2s linear;
}
.tab {
  cursor: pointer;
  height: 36vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}
.title {
  padding: 2rem 0rem 1rem 8rem;
}
.card-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #f2f2f2;
  box-shadow: -1.5rem 0 1.5rem rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.card:not(:first-child) {
  margin-left: -100px;
}
.card:hover {
  transform: translateY(-1rem);
}
.card:hover ~ .card {
  transform: translateX(100px);
}
.social-media {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media {
  height: 48px;
  width: 48px;
  background: white;
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.15),
    -4px -4px 6px -1px rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}
.anticon-youtube,
.anticon-twitter,
.anticon-github,
.anticon-instagram {
  font-size: 24px;
  color: #777777;
  transition: .5s;
}
.media:hover {
  box-shadow: inset 2px 2px 5px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    0px 8px 6px -7px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(4px);
}
.media:hover .anticon-youtube {
  transform: scale(0.8);
  color: #f00;
}
.media:hover .anticon-twitter {
  transform: scale(0.8);
  color: #00acee;
}
.media:hover .anticon-github {
  transform: scale(0.8);
  color: black;
}
.media:hover .anticon-instagram {
  transform: scale(0.8);
  color: #f14843;
}
.content {
  padding: 40px;
} */
