.brand {
  max-width: 200px;
  max-height: 100px;
  text-align: center;
}
.content {
  color: #4C4C4C;
  text-align: center;
}
.sub-content {
  font-size: 24px;
  color: #4c4c4c;
  text-align: center;
}
