.footer {
  position: relative;
  max-width: 1440px;
  margin: 60px auto 0;
}
.newsletters {
  background: #4c4c4c;
  position: absolute;
  top: 420px;
  height: 85px;
  width: calc(100% - 150px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.newsletters > div {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  color: white;
}
.search {
  width: 48%;
  position: absolute;
  top: 530px;
  left: 50%;
  z-index: 11;
  transform: translateX(-50%);
}
.footer_body {
  display: flex;
  background: #4c4c4c;
  padding: 6rem 0 1rem;
}
.name {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 5px;
  color: #fff;
  padding-bottom: 1.25rem;
}
.para {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #dbdbdb;
}
.icon {
  color: white;
  font-size: 24px;
  margin: 1.25rem 2rem 0 0;
}
.footer-main {
  display: flex;
  justify-content: space-between;
}
.content {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 2px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.25rem;
}
.sub-content {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 2px;
  color: #dbdbdb;
  margin: 0.5rem 0;
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-top: 1px solid #636363;
  background: #4c4c4c;
}
.para {
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 2px;
  color: #d1d1d1;
}
