.shopping {
  background: #1789fc;
  position: relative;
  padding: 40px;
}
.shopping::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: white;
  top: 0;
  left: 0;
}
.shopping::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: white;
  bottom: 0;
  right: 0;
}
.content {
  font-size: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 0;
}
.btn {
  color: #1789fc;
  width: 240px;
  height: 52px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
