.is-active > button {
	color: white !important;
	background: #40a9ff !important;
	border-color: #40a9ff !important;
}
.slick-slide{
	width: 10px !important;
}
/* .is-active:hover > button {
	color: white;
	background: #40a9ff;
	border-color: #40a9ff;
}  */
.is-image-active {
	border: 3px solid #40a9ff;
}

.left {
  position: absolute;
  font-size: 50px;
  top: 48%;
  left: 1%;
  z-index: 10;
  transition: 0.4s;
  color: rgba(0, 0, 0, 0.5);
}
.right {
  position: absolute;
  font-size: 50px;
  top: 48%;
  right: 1%;
  z-index: 10;
  transition: 0.4s;
  color: rgba(0, 0, 0, 0.5);
	
}