.container {
  position: relative;
  width: 100%;
  background: lightblue;
}

.left {
  position: absolute;
  font-size: 50px;
  height: 100%;
  top: 48%;
  left: 1%;
  z-index: 10;
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.5);
}
.right {
  position: absolute;
  font-size: 50px;
  top: 48%;
  right: 1%;
  z-index: 10;
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.5);
}
.right:hover,
.left:hover {
  transition: 0.4s;
  color: rgba(255, 255, 255, 1);
}
.dots {
  height: 20px;
  padding: 0;
  margin: 0;
}
.dots li button {
	height: 18px !important;
	width: 18px !important;
	border-radius: 999px !important;
}
.img {
  width: 100%;
}
