.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: #ffffff;
  border-bottom: 0.1px solid #f3f3f4;
}

.headbar-wrapper {
  padding: 0.5rem 0;
  border-bottom: 1px solid #dbdbdb;
}
.headbar,
.navbar,
.menubar-wrapper {
  width: 1280px;
  margin: 0 auto;
}
.hotline {
  color: #636363;
  letter-spacing: 2px;
  font-size: 1px;
}
.item {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.dropdown {
  cursor: pointer;
  padding: 0 1rem;
}
.dropdown:last-child {
  padding-right: 0rem;
}
.icon {
  margin-left: 0.5rem;
}
.navbar {
  padding: 1rem 0 1rem;
}
.logo > a {
  display: flex;
  align-items: flex-end;
}
.name {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 5px;
  color: #4c4c4c;
}
.search {
  display: flex;
  align-items: flex-end;
}

button {
  width: 120px;
}
.shop {
  text-align: end;
  
}
.btn {
  background-color: #1789fc;
  height: 52px;
  width: 52px;
}
.shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.shopping > b {
  font-size: 16px;
  color: #4c4c4c;
}
.shopping > span {
  color: #636363;
}

.menubar {
  display: flex;
  justify-content: space-between;
}
.menu-item {
  padding: .5rem 0 .75rem;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  color: #636363;
  transition: 0.4s;
}
.is-active {
  position: relative;
  color: #1789fc;
  overflow: hidden;
}
.is-active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 36px;
  left: 0;
  background: #1789fc;
}

.menu-item:hover {
  color: #1789fc;
}
