.headbar {
  padding: 1rem 0;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
}
.hotline {
  color: #636363;
  letter-spacing: 2px;
}
.item {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.dropdown {
  cursor: pointer;
  padding: 0 1rem;
}
.dropdown:last-child {
  padding-right: 0rem;
}
.icon {
  margin-left: 0.5rem;
}
.navbar {
  padding: 2rem 0 1rem;
}
.logo > a {
  display: flex;
  align-items: flex-end;
}
.name {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 5px;
  color: #4c4c4c;
}
.search {
  display: flex;
  align-items: flex-end;
}

button {
  width: 120px;
}
.shop {
  text-align: end;
}
.btn {
  background-color: #1789fc;
  height: 60px;
  width: 60px;
  justify-content: right;
}
.shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.shopping > b {
  font-size: 16px;
  color: #4c4c4c;
}
.shopping > span {
  color: #636363;
}

.menubar {
  padding: 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
}
.menu-item {
  padding: 1rem 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  color: #636363;
  transition: 0.4s;
}

.is-active {
  color: #1789fc;
}

.menu-item:hover {
  color: #1789fc;
}
