


.imgBanner {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 40px auto 40px auto;
}

.lxtext {
    text-align: center;
    font-size:24px;
    color:white;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
}

.lxShop {
    background-color: white;
    color: #1789FC;
    width: 319px; 
    height: 60px; 
    font-size:24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.brand {
    display: block;
    height: 60px;
    width: 180px;
    margin: 50px auto 40px auto;
}

