.promotions {
  display: flex;
  justify-content: space-between;
  height: 200px;
  overflow-x: auto;
  overflow-y: auto;
  flex-wrap: nowrap;
}
.img {
  height: 200px;
  width: 400px;
  margin: 0 1rem;
}